@tailwind base;
@tailwind components;
@tailwind utilities;


/* S_header */
/* header{
    transition: background-color 0.5s ease-in-out;
    @apply rounded-xl;
}


header.scrolled{
    background-color: white;
    box-shadow: 10px 10px 50px rgba(0, 0, 0, 0.436);
    color: purple;
    @apply  rounded-xl;
} */
